.row
  .span6
    .page-header
      %h2= t(:'home.index.about')
    %p TODO hire a copywriter and add some guides about what to do
  .span6
    .page-header
      %h2= t(:'home.index.activity')
    = render :partial => "activities/list", :collection => @activities, :as => :activity
