.row
  .span6
    .page-header
      %h2= t(:'verses.closed')
    = render :partial => "verses/list", :object => @closed_verses, :as => :verses
  .span6
    .page-header
      %h2= t(:'verses.open')
    = render :partial => "verses/list", :object => @open_verses, :as => :verses
