.page-header
  %h1= t(:'home.index.hello_and_welcome')
.row
  .span8
    :markdown
      #{t(:'large_texts.home_index')}
  .span4
    TODO big nice picture here
.row
  .page-header
    %h2= t(:'home.index.activity')
  = render :partial => @activities
