.page-header
  %h1
    Verse Title
    %small change it to a variable
.row
  .span10.offset1
    .line.row
      .span2
        %img{:src => "/assets/nouserpic.png", :width => 64, :height => 64}
      .text.span8
        I will wake you up at night
    .line.row
      .span2
        %img{:src => "/assets/nouserpic.png", :width => 64, :height => 64}
      .text.span8
        Prepare for collective suicide
    .line.row
      .span2
        %img{:src => "/assets/nouserpic.png", :width => 64, :height => 64}
      .text.span8
        I can take you to the moon
    .line.row
      .span2
        %img{:src => "/assets/nouserpic.png", :width => 64, :height => 64}
      .text.span8
        Salvation will come soon
    .line.row
      .span2
        %img{:src => "/assets/nouserpic.png", :width => 64, :height => 64}
      %form.form-stacked
        %fieldset
          .clearfix
            .input
              %input.xlarge.span6{:type => "text", :name => "verse[title]"}
              %input.btn.primary.span2{:type => "submit", :value => "Add!"}
