.page-header
  %h1
    = @verse.title
    %br
    %small= @verse.idea
.row
  .span10.offset1
    - if @verse.lines.count > 0
      - @verse.lines.each do |line|
        .line.row
          .span2
            %img{:src => line.user.userpic, :width => 64, :height => 64}
          .text.span8
            = line.text
    - else
      .line.row
        .alert-message.block-message.warning= t(:'verses.show.no_lines')
    .line.row
      - if current_user
        .span2
          %img{:src => current_user.userpic, :width => 64, :height => 64}
        %form.form-stacked
          %fieldset
            .clearfix
              .input
                %input.xlarge.span6{:type => "text", :name => "verse[title]"}
                %input.btn.primary.span2{:type => "submit", :value => t(:"lines.fields.create")}
      - else
        %a{:href => "/auth/twitter"}
          %img{:src => "/assets/sign-in-with-twitter-d.png"}

