/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/** {
  font-family: 'EB Garamond', serif;

}*/

body {
  font-size: 14px !important;
  line-height: 20px !important;
}

h1 small {
  line-height: 12px !important;
}

.navbar {
  box-shadow: 0 8px 8px rgba(17,0,68,0.3);
  font-size: 19px;
}

.navbar .brand {
  padding: 0 !important;
}

.navbar-inner {
  filter: none !important;
  background-color: #110044 !important;
  background-image: none !important;
}

.dropdown-menu {
  background-color: #1d0d4e !important;
  background-image: none !important;
}
.dropdown-menu li a:hover {
  background-color: #110044 !important;
  background-image: none !important;
}

.container.body {
  padding-top: 40px;
}

body {
  background: url('/assets/body-bg.png');
}

.rating {
  text-align: center;
}

.rating .score {
  font-size: 1.5em;
  font-weight: bold;
}

.vote {
  text-align: center;
}

.vote .up {
  color: #448855;
  font-size: 1.2em;
}

.vote .down {
  color: #885544;
  font-size: 1.2em;
}

.twi {
  padding-top: 8px;
}
.signin {
	text-align: center;
	}
.table {
	margin-top: 20px;
	}

/*footer .row {
  background-color: #f7f0ff;
  border-top: 1px solid black;
}*/

.line {
  height: 70px;
  border-bottom: 1px dotted #e0e0f0;
}
.line img {
  /*width: 64px;
  height: 64px;*/
  /*padding: 2px;*/
  /*border: 1px solid #eee;*/
  /*float: left;*/
  background-color: #ccc;
}
.line .text {
  font-size: 22px;
  padding-top: 4px;
}

.top-padded {
  margin-top: 6px;
}
.alert-message {
  margin-top: 8px;
  margin-bottom: 4px;
}

a.twitter-link {
  padding-left: 18px;
  background: url('/assets/twitter-16x16.png') no-repeat;
}

a.facebook-link {
  padding-left: 18px;
  background: url('/assets/facebook-16x16.png') no-repeat;
}

a.github-link {
  padding-left: 18px;
  background: url('/assets/github-16x16.png') no-repeat;
}

a.website-link {
  padding-left: 18px;
  background: url('/assets/website-16x16.png') no-repeat;
}

a.cc-link {
  padding-left: 18px;
  background: url('/assets/creativecommons-16x16.png') no-repeat;
}

a.feed-link {
  padding-left: 18px;
  background: url('/assets/feed-16x16.png') no-repeat;
}
img.identicon {
  float: left;
  padding: 1px;
  border: 1px solid #999;
}

.vcard {
  background-color: #1d0d4e;
  padding: 8px;
}

.vcard .info {
  background-color: #f7f7f7;
  border: 1px solid #110044;
  padding: 0 10px;
}

.item {
  margin-bottom: 8px;
  background: transparent;
}
.item:hover {
  background-color: #f5e9fa;
}

.hashtag {
  padding: 2px 6px;
}

.new-line {
  margin-top: 14px;
}
.centered {
  text-align: center;
}

p {
  font-size: 14px !important;
}
