.page-title
  %h1
    = t(:'activities.index.title')
    - if params[:user_id]
      %small
        = t(:'activities.attribution')
        = link_to @user.name, @user
= render :partial => @activities
